[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
masterminds = {editable = true,path = "."}
tornado = "*"
tinydb = "*"

[requires]
python_version = "3.7"
