<div class="modal fade" id="Help" tabindex="-1" role="dialog" aria-labelledby="HelpTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="HelpTitle">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Setting up or Joining a Game</h2>
        <p>
          To create a Game, click new game, select your grade level or use custom setting by choices custom as your grade level. After choosing a grade level you will need to set a username, or you won’t be able to create a game
          <br>
          To Join a game, you must provide a Game Pin found in the top left of your teacher’s or friend’s window, and you must also provide a username, or you won’t be able to join the Game.
        </p>
        <h2>When Playing</h2>
        <p>
          When you first Join you may not be your turn, so wait until you see arrows appear and a send button
          You can use these arrows to roll through different colours or use the keyboard shortcuts where use the key “q” for the first box to change the colour in a positive direction or use the “a” key to change the colour in a negative direction. This pattern is continued along the keyboard with the next colour being “w” = + “s” = - and etc 
          <br>
          To submit your answer, click the send button or press the enter key on your keyboard
          You submitted answer will then appear under the Attempts title with Black Number being the number of colours in the right place and the White Number being the number of colours that found but not in the right place
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
