<div class="card-body text-align-center" style="text-align: center;">
  <h1 class="card-title">&lt;<b>Master</b>Mind.io&gt;</h1>
  <h2 class="card-title"> Join </h2>
  <form id="PinForm">
    <div class="form-group">
      <h5 class="my-3">UserName</h5>
      {% if Username %}
      <input type="text" class="form-control my-3 text-center" id="FUserName" maxlength="12" placeholder="UserName" style="max-width: 300px;margin: auto;" value="{{ Username }}" required>
      {% else %}
      <input type="text" class="form-control my-3 text-center" id="FUserName" maxlength="12" placeholder="UserName" style="max-width: 300px;margin: auto;" required>
      {% end %}
      <h5>Game Pin</h5>
      <input type="text" class="form-control text-center" id="GamePin" placeholder="#GamePin" style="max-width: 300px;margin: auto;" required>
      <small id="Help" class="form-text text-muted">Found in the the center or top left of the game's window</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
