{% include "Header.html"%}
<body style="height:100vh; background-color: #e7d3d3;">
  <div class="se-pre-con">
    <h1 class="text-center">&#60;<b>Master</b>Mind.io&#62;</h1>
  </div>
  <div class="w-100 bg-white fixed-top" style="display: inline-block">

    <form autocomplete="off" id="UserForm" class="container mt-3 px-0 mx-3 float-right" style="width: 390px;text-fonts: 10px;">
      <h3>
          <input type="text" class="form-control text-center" id="UserName" maxlength="12" style="font-size: 2rem; color:black;" placeholder="UserName" required>
      </h3>
    </form>
    <h3 class="text-center my-4 mx-auto" style="width:300px;">MasterMinds</h3>
  </div>
  <div class="row h-100">
    {% if Row1 %}
      <lu class="list-group list-group-flush col p-5">
        {% for User in Row1 %}
          <li class="list-group-item m-5" style="background:transparent;"><h3 class="text-center">{{User}}</h3></li>
        {% end %}
      </lu>
    {% end %}
    {% if Row2 %}
      <lu class="list-group list-group-flush col p-5">
        {% for User in Row2 %}
          <li class="list-group-item m-5" style="background:transparent;"><h3 class="text-center">{{User}}</h3></li>
        {% end %}
      </lu>
    {% end %}
    {% if Row3 %}
      <lu class="list-group list-group-flush col p-5">
        {% for User in Row3 %}
          <li class="list-group-item m-5" style="background:transparent;"><h3 class="text-center">{{User}}</h3></li>
        {% end %}
      </lu>
    {% end %}
  </div>
    <footer class="fixed-bottom text-center bg-white">
      <button class="btn btn-primary float-right my-3 mx-5"><h2> Start</h2></button>
      <p class="mb-0 mt-3 text-center mx-auto" style="width:300px">&copy;2019 James Prince SPS-IPT
        <br>
      <a class="mb-0 mt-3 text-center mx-auto" style="width:200px" href="#">
        Help
      </a></p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/Static/Javascript/jquery.color.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/Static/Javascript/Main.js"></script>
    <script src="/Static/Javascript/Main.Websocket.js"></script>
</body>

</html>
