html, body {
  height: 100%;
  background-color: #DBDBDB;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/Static/Images/Loading.gif) center no-repeat #DBDBDB;
}

#GameForm {
  grid-area: GameForm;
}
#GameForm .row {
  margin: auto;
}
#GameForm .C .Box, #GameForm .Ce .Box {
  height: 50%;
  background-color: Red;
}
#GameForm .C i, #GameForm .Ce i {
  height: 33%;
  font-size: 30px;
}

#UserForm {
  grid-area: UserForm;
}
#UserForm #UserName {
  background: transparent;
  border: none;
  outline: transparent !important;
}

#Title {
  grid-area: Title;
}

#Results{
  grid-area: results;
  text-align: center;
}
.WhiteResults{
    background: white;
    padding: 10px 20px;
    border-radius: 15px;
}
.BlackResults{
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}
#codes::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#codes::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#codes::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}
.fa{
  margin: 5px 0px;
}
.RC{
  height: 2.55rem;
  margin: auto 10px;
  background-color: red;
}


footer{
  grid-area: footer;
  margin: auto;
  width: 100%;
}

#GamePin{
  grid-area: GamePin;
}
#Results{
  max-height: auto;
}
@media (min-width: 1000px) {
  .Game {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "GamePin Title UserForm" "GamePin cheats UserForm" "GameForm  GameForm GameForm " "results results results";
  }
  .Number{
    font-size: 30px;
    margin: 20px;
  }
  #UserForm {
    text-align: right;
  }
  .winningdiv{
    height: 100%;
  }
  .RC{
    margin: auto 10px;
  }
}
@media (max-width: 1000px) {
  .C{
    padding: 0px 1.5px;
  }
  .winningdiv{
    margin: 20px 0;
  }
  .RC{
    margin: auto 6px;
  }
  .Game {
    display: grid;
    margin: auto;
    grid-template-columns: 100%;
    grid-template-areas: "Title" "UserForm" "GamePin" "cheats" "GameForm" "results";
  }
  .Number{
    font-size: 30px;
    margin: 20px 0px;
  }
  #UserForm {
    text-align: center;
  }
}


.wrapper {
  position: relative;
  min-height: 100vh;
}

[class|="confetti"] {
  position: absolute;
}
#cheats{
  grid-area: cheats;
}

.red {
  background-color: #E94A3F;
}

.yellow {
  background-color: #FAA040;
}

.blue {
  background-color: #5FC9F5;
}
.WinningCode{
  margin: 10px;
}
