<div class="card-body text-align-center" style="text-align: center;">
  <h1 class="card-title">&lt;<b>Master</b>Mind.io&gt;</h1>
  <a href="Game/Create" onclick="NewGame()" class="btn btn-primary m-3">
    <h2>
      New Game
    </h2>
  </a>
  <a href="Join" class="btn btn-primary m-3">
    <h2>
      Join Game
    </h2>
  </a>
  <hr>
  <h2>Owned Games</h2>
  {% if OwnedGames %}
    <ul class="list-group list-group-flush p-4">
      {% for Game in OwnedGames %}
      <li class="list-group-item text-right">
        <div class="float-left">
          <h3 class=" text-left">GamePin: {{ Game['GamePin'] }}</h3>
          <h3 class="text-left">Grade: {{ Game["Grade"] }} | Status: {% if Game['Playing'] %} Running {%else%} Waiting... {%end%}</h3>
        </div>
        <a href="Game/{{ Game['GamePin'] }}" class="btn btn-primary my-auto"><h3>Join</h3></a>
      </li>
      {% end %}
    </ul>
  {% else %}
    <p> Wow so empty </p>
  {% end %}
</div>
